@import '../../styles/abstracts.scss';
@import '../../styles/animation.scss';
.channel {
	text-align: center;
}
.header {
	margin-bottom: 10px;
	display: flex;
	justify-content:center;
}
.body {
	margin-bottom: 20px;
}
.footer {
	display: none;
	@media (min-width: 1200px) {
		display: block;
	}
}
.name {
	color: $text-color-dark;
	font-size: $text-md;
	font-weight: bold;
}
.location {
	color: $text-color-light;
	font-size: $text-sm;
	font-weight: bold;
}
.contact {
	display: flex;
	justify-content: center;
}
.item:not(:first-child) {
	margin-left: 42px;
}
.ammount {
	color: $text-color-dark;
	font-size: $text-md;
	font-weight: bold;
}
.nameContact {
	color: $text-color-light;
	font-size: $text-sm;
	font-weight: bold;
	text-transform: uppercase;
}

.loading {
	& .name, .location, .contact {
		@include background-gradient();
		animation: shine-image $animation-duration infinite ease-out;
		color: transparent!important;
		& div {
			color: transparent!important;
		}
	}
}
@keyframes :local(shine-image) {
  0% {
    background-position: 0px;
  }
  40%, 100% {
    background-position: 500px;
	}
}
