// abstract
$text-color-dark: #2d2d2d;
$text-color-light: #a6a6a6;
$status-busy: #df253b;
$status-online: #32C78F;
$status-offline: #73777d;
$overlay-color: #41403e;
$tick-background-color: #969696;
$icon-color: #939393;
$color-border: #ededed;
$background-light-grey: #f8f8f8;

$color-toggle-button-active: #00d17b;
$color-toggle-button-default: #ccdcd9;

$color-text-dark: #51625a;
$color-link: #23d58a;



$text-big: 26px;
$text-md: 16px;
$text-sm: 12px;
$text-xm: 10px;