* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
  
}
.thumbnails {
  width: 163px;
  height: 94px;
  & img {
    width: 100%;
    height: 100%;
  }
}
a {
  text-decoration: none!important;
}
p {
  margin-bottom: 0px!important;
}
button {
  outline: none;
  border: none;
  background: transparent;
}
.App {
	display: flex;
	overflow: hidden;
}
body .App.dark {
  & .side-bar, .main-content {
    blackground: black;
    color: white;
  }
}