$text-color-dark: #2d2d2d;
$text-color-light: #a6a6a6;
$status-busy: #df253b;
$status-online: #32C78F;
$status-offline: #73777d;
$overlay-color: #41403e;
$tick-background-color: #969696;
$icon-color: #939393;
$color-border: #ededed;
$background-light-grey: #f8f8f8;
$text-big: 26px;
$text-md: 16px;
$text-sm: 12px;
$text-xm: 10px;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
a {
  text-decoration: none!important;
}
p {
  margin-bottom: 0px!important;
}
button {
  outline: none;
  border: none;
  background: transparent;
}
.App {
	display: flex;
	overflow: hidden;
}
body .App.dark {
  background: black;
  & div, p, a {
    color: white!important;
  }
}
$numbers: (0,1,2,3,4,5,6);
@each $number in $numbers {
  body .mr-#{$number} {
    margin-right: calc(#{$number}px * 10)!important;
  }
  body .mt-#{$number} {
    margin-top: calc(#{$number}px * 10)!important;
  }
  body .ml-#{$number} {
    margin-left: calc(#{$number}px * 10)!important;
  }
  body .mb-#{$number} {
    margin-bottom: calc(#{$number}px * 10)!important;
  }
}