.subscribeButton {
	background: red;
    color: #fff;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    padding: 8px 15px;
}