.content {
	max-width: 500px;
	padding: 16px 0 0;
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 24px 4px 10px;
	& .name {
    font-size: 13px;
    color: #222;
	}
}
