@import '../../styles/abstracts.scss';
@import '../../styles/animation.scss';
@mixin status($statusColor) {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-sizing: initial;
    border: 2px solid white;
    bottom: 5px;
    right: 5px;
    background: $statusColor!important;
}
.avatar, .avatarLoading {
    border: 5px white solid;
    border-radius: 50%;
}
.image {
		border-radius: 50%;
    display: inline-block;
    box-sizing: initial;
    width: 100%;
}
.big {
    width: 80px;
    height: 80px;
}
.medium {
    width: 60px;
    height: 60px;
}
.small {
    width: 40px;
    height: 40px;
}
.avatar {
	position: relative;
	display: inline-block;
}
.imageAvatarlarge {
    max-width: 100px;
    max-height: 100px;
}

.status {
    &busy {
        @include status($status-busy);
    }
    &online {
        @include status($status-online);
    }
    &offline {
        @include status($status-offline);
    }
}


.avatarLoading {
    @include background-gradient();
    animation: shine-avatar $animation-duration infinite ease-out;
}

@keyframes :local(shine-avatar) {
  0% {
    background-position: 0px;
  }
  40%, 100% {
    background-position: 50px;
  }
}

