.carousel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.listImg {
	display: flex;
	transition: 0.3s ease-out;
}
.slideShow {
	overflow: hidden;
    width: 79%;
}
.slide {
	flex: 0 0 50%;
	margin-right: 10px;
}
.directionBtn {
    outline: none;
    border: none;
    background: transparent;
    font-size: 25px;
	color: lightgrey;
}
.nextBtn {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}
.prevBtn {
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}