@import '../../styles/abstracts.scss';
.sideBar {
	display: none;
	@media (min-width: 768px) {
		display: block;
	}
}
.open {
	display: block;
	z-index: 123;
	& .content {
		width: 50%;
		@media (min-width: 768px) {
			width: 15%;
		}
	}
}
.content {
	width: 15%;
	height: 100vh;
	position: fixed;
	text-align: center;
	background: $background-light-grey;
	overflow-y: scroll;
	@media (min-width: 992px) {
		text-align: unset;
	}
}
.header {
	margin-bottom: 30px;
}
.brand {
	margin-top: 36px;
	margin-bottom: 45px;
	margin-left: 10px;
	@media (min-width: 992px) {
		margin-left: 28px;
	}
}
::-webkit-scrollbar {
  width: 10px;
  z-index: 123123;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;
}

.toggleButton {
	padding: 28px;
	line-height: 20px;
	display: inline-block;
}
.settingsButton {
	padding: 0px 28px 10px 28px;
	& a {
		font-size: 30px;
		color: black;
		&:hover i{
			transition: 2s all;
			transform: rotate(360deg);
		}
	}
}
