$base-color: #F4F4F4;
$shine-color: rgba(229,229,229,0.8);
$animation-duration: 1.0s;
@mixin background-gradient-animation {
	background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
	transform-origin: left;
	animation: loading $animation-duration infinite;
}
@mixin defaultStyle($text) {
	position: relative;
	background: $base-color;
	overflow: hidden;
	width: 100%;
	&:before {
		@if $text {
			content: '.';
		}
		@else {
			content: '';
		}
		display: block;
		width: 100%;
		height: 100%;
		color: transparent;
		@include background-gradient-animation();
		z-index: 123;
	}
}
.skeletonInitial {
	@include defaultStyle(0);
}
.skeletonHeader {
	@include defaultStyle(0);
}
.skeletonText {
	@include defaultStyle(1);
}
@keyframes :local(loading) {
	100% {
	 transform: translateX(100%);
	}
}
